
	/*Sedans Container */

.sedans-container {
	position: absolute;
	background-color: hsl(31, 77%, 52%);
	top: 180px;
	right: 750px;
	bottom: 100px;
	left: 230px;
	padding: 45px 50px;
	/*margin: 130px 770px 100px 200px;
	padding: 50px 50px 80px 50px;*/
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.sedans-container h1 {
	font-family: "Big Shoulders Display";
	font-weight: 700;
	color: hsl(0, 0%, 95%);
} 

.sedans-container p {
	font-family: "Lexend Deca";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	color: hsla(0, 0%, 100%, 0.75);
}

.sedans-container .sedans-message {
	margin-bottom: 80px;
}

.sedans-container .btn {

  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  font-family: Lexend Deca;
  color: hsl(31, 77%, 52%);
  font-size: 15px;
  background: #fff;
  padding: 10px 30px 12px 30px;
  border: solid #fff 2px;
  text-decoration: none;

}

.sedans-container .btn:hover {
  background: hsl(31, 77%, 52%);
  color: #fff;
  background-image: -webkit-linear-gradient(top, hsl(31, 77%, 52%), hsl(31, 77%, 52%));
  background-image: -moz-linear-gradient(top, hsl(31, 77%, 52%), hsl(31, 77%, 52%));
  background-image: -ms-linear-gradient(top, hsl(31, 77%, 52%), hsl(31, 77%, 52%));
  background-image: -o-linear-gradient(top, hsl(31, 77%, 52%), hsl(31, 77%, 52%));
  background-image: linear-gradient(to bottom, hsl(31, 77%, 52%), hsl(31, 77%, 52%));
  text-decoration: none;
}


	/*SUVS Container*/

.suvs-container {
	position: absolute;
	background-color: hsl(184, 100%, 22%);
	top: 180px;
	right: 435px;
	bottom: 100px;
	left: 530px;
	padding: 45px 50px;
	/*margin: 130px 480px 100px 502px;
	padding: 50px 50px 80px 50px;*/
}

.suvs-container h1 {
	font-family: "Big Shoulders Display";
	font-weight: 700;
	color: hsl(0, 0%, 95%);
} 

.suvs-container p {
	font-family: "Lexend Deca";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	color: hsla(0, 0%, 100%, 0.75);
}

.suvs-container .suvs-message {
	margin-bottom: 80px;
}

.suvs-container .btn {

  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  font-family: Lexend Deca;
  color: hsl(184, 100%, 22%);
  font-size: 15px;
  background: #fff;
  padding: 10px 30px 12px 30px;
  border: solid #fff 2px;
  text-decoration: none;

}

.suvs-container .btn:hover {
  background: hsl(184, 100%, 22%);
  color: #fff;
  background-image: -webkit-linear-gradient(top, hsl(184, 100%, 22%), hsl(184, 100%, 22%));
  background-image: -moz-linear-gradient(top, hsl(184, 100%, 22%), hsl(184, 100%, 22%));
  background-image: -ms-linear-gradient(top, hsl(184, 100%, 22%), hsl(184, 100%, 22%));
  background-image: -o-linear-gradient(top, hsl(184, 100%, 22%), hsl(184, 100%, 22%));
  background-image: linear-gradient(to bottom, hsl(184, 100%, 22%), hsl(184, 100%, 22%));
  text-decoration: none;
}


	/*LUXURY Container*/

.luxury-container {
	position: absolute;
	background-color: hsl(179, 100%, 13%);
	top: 180px;
	right: 126px;
	bottom: 100px;
	left: 845px;
	padding: 45px 50px;
	/*margin: 130px 170px 100px 792px;
	padding: 50px 50px 80px 50px;*/
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;	
}

.luxury-container h1 {
	font-family: "Big Shoulders Display";
	font-weight: 700;
	color: hsl(0, 0%, 95%);
} 

.luxury-container p {
	font-family: "Lexend Deca";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	color: hsla(0, 0%, 100%, 0.75);
}

.luxury-container .luxury-message {
	margin-bottom: 80px;
}

.luxury-container .btn {

  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  font-family: Lexend Deca;
  color: hsl(179, 100%, 13%);
  font-size: 15px;
  background: #fff;
  padding: 10px 30px 12px 30px;
  border: solid #fff 2px;
  text-decoration: none;

}

.luxury-container .btn:hover {
  background: hsl(179, 100%, 13%);
  color: #fff;
  background-image: -webkit-linear-gradient(top, hsl(179, 100%, 13%), hsl(179, 100%, 13%));
  background-image: -moz-linear-gradient(top, hsl(179, 100%, 13%), hsl(179, 100%, 13%));
  background-image: -ms-linear-gradient(top, hsl(179, 100%, 13%), hsl(179, 100%, 13%));
  background-image: -o-linear-gradient(top, hsl(179, 100%, 13%), hsl(179, 100%, 13%));
  background-image: linear-gradient(to bottom, hsl(179, 100%, 13%), hsl(179, 100%, 13%));
  text-decoration: none;
}



